*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: sans-serif;
}

.formulario{
	width: 1100px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0 0 20px 1px var(--font-color);;
	position: relative;
}

.formulario__titulo{
	text-align: center;
	margin-top: 0;
	color: var(--color-primary); 
}

.formulario__input, .formulario__label, .formulario__submit{
	display: block;
	width: 100%;
	font-size: 1.3em;
}

.formulario__input{
	padding: 10px;
	background: rgba(0,0,0,.1);
	border: 1px solid var(--font-color);;
	margin-bottom: 40px;
}

.formulario__input:focus {
	outline: 1px solid var(--font-color);
}

.formulario__input:focus + .formulario__label{
	margin-top: -130px;
}

.formulario__label{
	padding: 15px;
	position: absolute;
	margin-top: -90px;
	z-index: -20;
	color: var(--font-color);
	transition: all 0.2s;
}

.formulario__submit{
	background: rgba(0,0,0,.7);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
}

.fijar{
	margin-top: -130px;
}

.footeratalho p, .footeratalho a
{
	color: #069370;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: none;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
  
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  
	-webkit-transform: translate3d(0, -50px, 0);
	-ms-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0);
  
	-webkit-transition: -webkit-transform .5s ease-out;
	-ms-transition: -webkit-transform .5s ease-out;
	transition: transform .5s ease-out;
  }
  
  .pace.pace-active {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  .pace .pace-progress {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 10px;
	background: #29d;
  
	pointer-events: none;
  }
  