*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: sans-serif;
}

.formulario{
	border-radius: 34px;
	width: 1100px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0 0 20px 1px var(--base-color9);
	position: relative;
}

.formulario__titulo{
	text-align: center;
	margin-top: 0;
	color: var(--color-primary); 
}

.formulario__input, .formulario__label, .formulario__submit{
	display: block;
	width: 100%;
	border-radius: 34px;
	font-size: 1.3em;
}

.formulario__input{
	padding: 10px;
	background: rgba(0,0,0,.1);
	border: 1px solid var(--font-color);;
	margin-bottom: 40px;
}

.formulario__input:focus {
	outline: 1px solid var(--font-color);
}

.formulario__input:focus + .formulario__label{
	margin-top: -130px;
}

.formulario__label{
	padding: 15px;
	position: absolute;
	margin-top: -90px;
	z-index: -20;
	color: var(--font-color);
	transition: all 0.2s;
}

.formulario__submit{
	background: var(--color-primary);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
}

.fijar{
	margin-top: -130px;
}

.footeratalho p, .footeratalho a
{
	color: #069370;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: none;
}