@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

body
{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	font-family: 'Poppins', sans-serif;
}

.container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container .box
{
	position: relative;
	align-items: center;
	width: 350px;
	padding: 40px;
	background: var(--font-card1); /*#fff*/
	box-shadow: 0 5px 15px rgba(0,0,0,.3);
	border-radius: 100px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.container .box:before
{
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .2);
	z-index: 2;
	pointer-events: none;
}

.container .box .icon
{
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 0.65s;
}

.container .box:nth-child(1) .icon
{
	box-shadow: 0 0 0 0 var(--base-color1);
	background: var(--base-color1);
}

.container .box:nth-child(1):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color1);
	background: var(--base-color1);
}

.container .box:nth-child(2) .icon
{
	box-shadow: 0 0 0 0 var(--base-color2);
	background: var(--base-color2);
}

.container .box:nth-child(2):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color2);
	background: var(--base-color2);
}

.container .box:nth-child(3) .icon
{
	box-shadow: 0 0 0 0 var(--base-color3);
	background: var(--base-color3);
}

.container .box:nth-child(3):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color3);
	background: var(--base-color3);
}

.container .box:nth-child(4) .icon
{
	box-shadow: 0 0 0 0  var(--base-color4);
	background:  var(--base-color4);
}

.container .box:nth-child(4):hover .icon
{
	box-shadow: 0 0 0 540px  var(--base-color4);
	background: var(--base-color4);
}

.container .box:nth-child(5) .icon
{
	box-shadow: 0 0 0 0 var(--base-color5);
	background: var(--base-color5);
}

.container .box:nth-child(5):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color5);
	background: var(--base-color5);
}

.container .box:nth-child(6) .icon
{
	box-shadow: 0 0 0 0  var(--base-color6);
	background:  var(--base-color6);
}

.container .box:nth-child(6):hover .icon
{
	box-shadow: 0 0 0 540px  var(--base-color6);
	background:  var(--base-color6);
}

.container .box:nth-child(7) .icon
{
	box-shadow: 0 0 0 0 var(--base-color7);
	background: var(--base-color7);
}

.container .box:nth-child(7):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color7);
	background: var(--base-color7);
}

.container .box:nth-child(8) .icon
{
	box-shadow: 0 0 0 0 var(--base-color8);
	background: var(--base-color8);
}

.container .box:nth-child(8):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color8);
	background: var(--base-color8);
}

.container .box:nth-child(9) .icon
{
	box-shadow: 0 0 0 0 var(--base-color9);
	background: var(--base-color9);
}

.container .box:nth-child(9):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color9);
	background: var(--base-color9);
}

.container .box:nth-child(10) .icon
{
	box-shadow: 0 0 0 0 var(--base-color1);
	background: var(--base-color1);
}

.container .box:nth-child(10):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color1);
	background: var(--base-color1);
}

.container .box:nth-child(11) .icon
{
	box-shadow: 0 0 0 0 var(--base-color2);
	background: var(--base-color2);
}

.container .box:nth-child(11):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color2);
	background: var(--base-color2);
}

.container .box:nth-child(12) .icon
{
	box-shadow: 0 0 0 0 var(--base-color3);
	background: var(--base-color3);
}

.container .box:nth-child(12):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color3);
	background: var(--base-color3);
}

.container .box:nth-child(13) .icon
{
	box-shadow: 0 0 0 0  var(--base-color4);
	background:  var(--base-color4);
}

.container .box:nth-child(13):hover .icon
{
	box-shadow: 0 0 0 540px  var(--base-color4);
	background: var(--base-color4);
}

.container .box:nth-child(14) .icon
{
	box-shadow: 0 0 0 0 var(--base-color5);
	background: var(--base-color5);
}

.container .box:nth-child(14):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color5);
	background: var(--base-color5);
}

.container .box:nth-child(15) .icon
{
	box-shadow: 0 0 0 0  var(--base-color6);
	background:  var(--base-color6);
}

.container .box:nth-child(15):hover .icon
{
	box-shadow: 0 0 0 540px  var(--base-color6);
	background:  var(--base-color6);
}

.container .box:nth-child(16) .icon
{
	box-shadow: 0 0 0 0 var(--base-color7);
	background: var(--base-color7);
}

.container .box:nth-child(16):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color7);
	background: var(--base-color7);
}

.container .box:nth-child(17) .icon
{
	box-shadow: 0 0 0 0 var(--base-color8);
	background: var(--base-color8);
}

.container .box:nth-child(17):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color8);
	background: var(--base-color8);
}

.container .box:nth-child(18) .icon
{
	box-shadow: 0 0 0 0 var(--base-color9);
	background: var(--base-color9);
}

.container .box:nth-child(18):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color9);
	background: var(--base-color9);
}

.container .box:nth-child(19) .icon
{
	box-shadow: 0 0 0 0 var(--base-color1);
	background: var(--base-color1);
}

.container .box:nth-child(19):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color1);
	background: var(--base-color1);
}

.container .box:nth-child(20) .icon
{
	box-shadow: 0 0 0 0 var(--base-color2);
	background: var(--base-color2);
}

.container .box:nth-child(20):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color2);
	background: var(--base-color2);
}

.container .box:nth-child(21) .icon
{
	box-shadow: 0 0 0 0 var(--base-color3);
	background: var(--base-color3);
}

.container .box:nth-child(21):hover .icon
{
	box-shadow: 0 0 0 540px var(--base-color3);
	background: var(--base-color3);
}

.container .box:nth-child(22) .icon
{
	box-shadow: 0 0 0 0  var(--base-color4);
	background:  var(--base-color4);
}

.container .box:nth-child(22):hover .icon
{
	box-shadow: 0 0 0 540px  var(--base-color4);
	background: var(--base-color4);
}

.container .box .content
{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.container .box:hover .content
{
	color: #fff;
}

.container .box .content h3
{
	color: var(--font-color);
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}

.container .box .content p
{
	color: var(--font-color);
	margin: 0;
	padding: 0;
}

.aatalho
{
	display: inline-block;
	padding: 10px 20px;
	background: var(--font-card2);
	border-radius: 4px;
	text-decoration: none;
	color: var(--font-color);
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.footeratalho p, .footeratalho a
{
	color: #069370;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: none;
}