@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

body
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background: var(--color-secondary); 
	background-attachment: fixed;
}

.headeratalho
{
	position: relative;
	max-width: 1300px;
	margin: 20px auto;
	padding: 10px;
	background: var(--color-secondary); 
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo
{
	color: var(--color-primary); 
	height: 60px;
	font-size: 36px;
	line-height: 60px;
	padding: 0 20px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: 700;
	text-decoration: none;
}

.navatalho
{
	float: right;
}

.clearfix
{
	clear: both;
}

.navatalho ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

.navatalho ul li
{
	list-style: none;
}

.navatalho ul li a
{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: var(--color-accent); 
}

.navatalho ul li a.active, .navatalho ul li a:hover
{
	background: var(--color-primary); 
	color: #fff;
	transition: 0.2s;
}

@media (max-width: 1290px)
{
	.menu-toggle
	{
		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #4285F4;
	}

	.menu-toggle:before
	{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;
	}

	.menu-toggle.active:before
	{
		content: '\f00d';
	}

	.navatalho
	{
		display: none;
	}

	.navatalho.active
	{
		display: block;
		width: 100%;
	}

	.navatalho.active ul
	{
		display: block;
	}

	.navatalho.active ul li a
	{
		margin: 0;
	}

	
}

.theme-light {
	--color-primary: #EA4335;
	--color-secondary: #fbfbfe;
	--color-accent: #4285F4;
	--font-color: #000000;
  }
  .theme-dark {
	--color-primary: #ea4435be;
	--color-secondary: #2a2c2d;
	--color-accent: #4286f4c0;
	--font-color: #ffffff;
  }
  .container-switcher {
	float: left;
	display:flex; 
	width: 100%;
	height: 100%;
	background: var(--color-secondary);
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  
  .container-switcher button {
	color: var(--font-color);
	background: var(--color-primary);
	padding: 10px 20px;
	border: 0;
	border-radius: 5px;
  }
  
  /* The switch - the box around the slider */
  .switch {
	position: relative;
	display: inline-block; 
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	left: 0px;
	bottom: 4px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0px 15px #2020203d;
	background: white url('https://i.ibb.co/FxzBYR9/night.png');
	background-repeat: no-repeat;
	background-position: center;
  }
  
  input:checked + .slider {
	background-color: #2196f3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
	background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
	background-repeat: no-repeat;
	background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }