*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url('background.png');
    background-size: 1920px 1080px;
}

.navbar-toggler 
{
    outline: none !important;
    padding: 0 !important;
}

.navbar-toggler img
{
    width: 35px;
}

.navbar-brand img
{
    width: 80px;
}

.nav-link
{
    color: #c200ff !important;
    font-weight: 600;
    margin-left: 30px;
}

.wrapper
{
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 2px rgba(37, 73, 214, 0.18);
}

.feature-box
{
    padding: 30px;
}

.feature-box h1
{
    margin-top: 20%;
    color: #c200ff;
}

.feature-box p
{
    margin: 50px auto;
    color: #555;
}

.feature-box a
{
    text-decoration: none !important;
    background: #a669ce;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 30px;
    border: 2px solid #a669ce !important;
    color: #fff;
}

.btn-One:hover
{
    color: #fff;

}
.btn-Two
{
    background: none !important;
    color: #a669ce !important;
}

.feature-img
{
    width: 100%;
    padding: 40px;
   
}

@media only screen and (max-width:990px)
{
    body
    {
        background: none;
    }

    .feature-box a
    {
        padding: 5px 8px;
        margin-right: 10px;
    }
}