<!DOCTYPE html>

<html>

<head>
	<!-- Definindo as configurações gerais -->
	<meta http-equiv = "Content-Type" content = "text/html" />
	<meta charset = "utf-8" />
	<title> Feedback </title>
	<link rel = "icon" href = "../Imagens/logo.png" type = "image/x-icon" />
	<link rel = "shortcut icon" href = "../Imagens/logo.png" type = "image/x-icon" />
	<meta name = "author" content = "Alysson Machado">
	<meta name = "description" content = "Me envie um Feedback sobre o site.">

    <!-- Definindo as configurações do menu navegador-->
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <link rel = "stylesheet" type = "text/css" href = "../CSS/estilomenu.css" />
    <link href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel = "stylesheet" />

    <!-- Definindo as configurações do conteúdo da página -->
	<link rel = "stylesheet" type = "text/css" href = "../CSS/estiloformulario.css" />
	<link rel = "stylesheet" type = "text/css" href = "../CSS/switcher.css">
	<link rel = "stylesheet" href = "../CSS/loading.css">

</head>

<body>

	<!-- Definindo o menu navegador -->

	<header class = "headeratalho"> 

		<a href = "../index.html" class = "logo" target = "_self"> Álgebra Linear com Python </a>

		<div class = "menu-toggle"></div>

		<nav class = "navatalho">
			
			<ul>
				
				<li><a href = "../index.html" target = "_self" > Programas </a></li>
				<li><a href = "http://ecandeia.dee.ufcg.edu.br" target = "_blank"> Site da Disciplina </a></li>
				<li><a href = "listademateriais.html" target = "_self"> Materiais </a></li>
				<li><a href = "listadeformulario.html" target = "_self" class = "active"> Feedback </a></li>
				<li>
					
					<div class="container-switcher">

					<label id="switch" class="switch">
							<input type="checkbox" onchange="toggleTheme()" id="slider">
							<span class="slider round"></span>
					</label>
					
					</div>
					
			    </li>

			</ul>

		</nav>

		<div class = "clearfix"></div>

	</header>

	<script src="https://code.jquery.com/jquery-3.4.1.js" 
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
	crossorigin="anonymous"></script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.menu-toggle').click(function(){
				$('.menu-toggle').toggleClass('active')
				$('nav').toggleClass('active')
			})
		})

	</script>

	<!-- Definindo o conteúdo da página -->

	<form action = "https://formspree.io/alysson.barbosa@ee.ufcg.edu.br" method = "post" class = "formulario">
		<h1 class = "formulario__titulo"> Feedback </h1>
		<input type = "text" class = "formulario__input" name = "nome" />
		<label for = "" class = "formulario__label"> Nome </label>
		<input type = "text" class = "formulario__input" name = "email" />
		<label for = "" class = "formulario__label"> E-mail para contato </label>
		<input type = "text" class = "formulario__input" name = "curso" />
		<label for = "" class = "formulario__label"> Curso </label>
		<input type = "text" class = "formulario__input" name = "mensagem" />
		<label for = "" class = "formulario__label"> Mensagem </label>
		<input type = "submit" class = "formulario__submit" value = "Enviar" />
		
	</form>

	<script src = "../JavaScript/formulario.js"></script>

	<script type = "text/javascript" src = "../JavaScript/pace.min.js"></script>
	<script type = "text/javascript" src = "../JavaScript/switcher.js"></script>

	<footer class = "footeratalho">

		<p align = "center">Criado por:<a href = "mailto:alysson.barbosa@ee.ufcg.edu.br" target = "_blank"> Alysson Machado </a> </p>

	</footer>

</body>

</html>
