<!DOCTYPE html>

<html>

<head>

	<!-- Definindo as configurações gerais -->
	<meta http-equiv = "Content-Type" content = "text/html" />
	<meta charset = "utf-8" />
	<title> Repositórios </title>
	<link rel = "icon" href = "../Imagens/logo.png" type = "image/x-icon" />
	<link rel = "shortcut icon" href = "../Imagens/logo.png" type = "image/x-icon" />
	<meta name = "author" content = "Alysson Machado">
	<meta name = "description" content = "Lista de repositórios com os conteúdos do projeto Álgebra Linear com Python.">

    <!-- Definindo as configurações do menu navegador-->
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <link rel = "stylesheet" type = "text/css" href = "../CSS/estilomenu.css" />
    <link href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel = "stylesheet" />

    <!-- Definindo as configurações para o conteúdo da página -->
	<link rel = "stylesheet" type = "text/css" href = "../CSS/estilomateriais.css">
	<link rel = "stylesheet" type = "text/css" href = "../CSS/switcher.css">
	<link rel = "stylesheet" href = "../CSS/loading.css">


</head>

<body>

	<!-- Definindo o menu navegador -->

	<header class = "headeratalho"> 

		<a href = "../index.html" class = "logo" target = "_self"> Álgebra Linear com Python </a>

		<div class = "menu-toggle"></div>

		<nav class = "navatalho">
			
			<ul>
				
				<li><a href = "../index.html" target = "_self" class = "active"> Programas </a></li>
				<li><a href = "http://ecandeia.dee.ufcg.edu.br" target = "_blank"> Site da Disciplina </a></li>
				<li><a href = "listademateriais.html" target = "_self"> Materiais </a></li>
				<li><a href = "listadeformulario.html" target = "_self"> Feedback </a></li>
				<li>
					
					<div class="container-switcher">

					<label id="switch" class="switch">
							<input type="checkbox" onchange="toggleTheme()" id="slider">
							<span class="slider round"></span>
					</label>
					
					</div>
					
			    </li>

			</ul>

		</nav>

		<div class = "clearfix"></div>

	</header>

	<script src="https://code.jquery.com/jquery-3.4.1.js" 
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
	crossorigin="anonymous"></script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.menu-toggle').click(function(){
				$('.menu-toggle').toggleClass('active')
				$('nav').toggleClass('active')
			})
		})

	</script>

	<!-- Definindo o conteúdo da página -->

	<div class = "container">
		
		<div class = "box">
			
			<div class = "icon"> 01 </div>

			<div class = "content">
				
				<h3> Repositório GitHub </h3>
				<p> Acesse o repositório do GitHub contendo os materiais do projeto. </p>
				<br /> <br /> 
				<img src = "../Imagens/repositoriologo.png" width = "100">
				<br />
				<a class = "aatalho" href = "https://github.com/Alyssonmach/Algebra-Linear-com-Python" target = "_blank"> Leia Mais </a>

			</div>

		</div>


			<div class = "box">
			
				<div class = "icon"> 02 </div>
	
				<div class = "content">
					
					<h3> Acompanhe a Wiki do Site </h3>
					<p> Leia a Wiki do site e aprenda como tirar melhor proveito dos conteúdos oferecidos! </p>
					<br /> <br/> <br/> 
					<img src = "../Imagens/wiki-logo.png" width = "100">
					<br />
					<a class = "aatalho" href = "https://github.com/Alyssonmach/Algebra-Linear-com-Python/wiki" target = "_blank"> Leia Mais </a>
	
				</div>
	
			</div>


			<div class = "box">
			
				<div class = "icon"> 03 </div>
	
				<div class = "content">
					
					<h3> Acompanhe as Atualizações </h3>
					<p> Acesse a documentação de todas as atualizações do site. Fique informado sobre as novidades! </p>
					<br /> 
					<img src = "../Imagens/wiki-logo.png" width = "100">
					<br />
					<a class = "aatalho" href = "https://github.com/algebralinearufcg/algebralinearufcg.github.io/wiki" target = "_blank"> Leia Mais </a>
	
				</div>
	
			</div>


		</div>


	</div>

	<script type = "text/javascript" src = "../JavaScript/pace.min.js"></script>
	<script type = "text/javascript" src = "../JavaScript/switcher.js"></script>

	<footer class = "footeratalho">

		<p align = "center">Criado por:<a href = "mailto:alysson.barbosa@ee.ufcg.edu.br" target = "_blank"> Alysson Machado </a> </p>

	</footer>

</body>

</html>