<html>

    <head>
      
        <title> Contribua </title>
        <meta charset = "utf-8" />
        <link rel = "icon" href = "../img/navicon.png" type = "image/x-icon" />
        <link rel = "shortcut icon" href = "../img/navicon.png" type = "image/x-icon" />
        <meta name = "author" content = "Alysson Machado">
        <meta name = "description" content = "Aplicações dos tópicos aprendidos na disciplina Álgebra Linear em Python.">

        <link rel = "stylesheet" type = "text/css" href = "../css/menu-style.css" />
        <link href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel = "stylesheet" />

        
        <link rel = "stylesheet" href = "../css/material-style.css">
        <link rel = "stylesheet" type = "text/css" href = "../css/switcher-style.css">
        <link rel = "stylesheet" href = "../css/loading-style.css">
  
        <link rel="stylesheet" href="../css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
    </head>
    <body>

      <header class = "headeratalho"> 

        <a href = "../index.html" class = "logo" target = "_self"> Álgebra Linear com Python </a>
    
        <div class = "menu-toggle"></div>
    
        <nav class = "navatalho">
          
          <ul>
            
            <li><a href = "menu-list.html" target = "_self"> Programas </a></li>
            <li><a href = "http://ecandeia.dee.ufcg.edu.br" target = "_blank"> Site da Disciplina </a></li>
            <li><a href = "material-list.html" target = "_self"> Materiais </a></li>
            <li><a href = "form-list.html" target = "_self"> Feedback </a></li>
            <li>
              <div class="container-switcher">
    
              <label id="switch" class="switch">
                  <input type="checkbox" onchange="toggleTheme()" id="slider">
                  <span class="slider round"></span>
              </label>
              
              </div>
              
              </li>
    
          </ul>
    
        </nav>
    
        <div class = "clearfix"></div>
    
      </header>

      <script src="https://code.jquery.com/jquery-3.4.1.js" 
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
	crossorigin="anonymous"></script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.menu-toggle').click(function(){
				$('.menu-toggle').toggleClass('active')
				$('nav').toggleClass('active')
			})
		})

  </script>

        <div class = "container">
          <div class = "wrapper">
            <div class = "row">
              <div class = "col-md-6">
                
                <img src = "../img/donate1.svg" alt = "capa" align = "center">
                <img src = "../img/donate2.svg" alt = "logo" align = "center">

              </div>
              <div class = "col-md-6">
                <div class = "feature-box">
                  <h1 align = "center">Deixe sua contribuição pelo PayPal</h1>

                  <p align = "justify">
                    Está gostando do projeto? Deseja ver mais conteúdos como este? Então deixe sua contribuição pelo PayPal e ajude a educação gratuita! Com isso, você terá a garantia de receber mais conteúdos Open Source para continuar com o seu aprendizado contínuo. 
                  </p>

                  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=G7YB4B9P4JML2&item_name=Help+a+developer+with+their+Open+Source+work&currency_code=BRL&source=url" target = "_blank">Doe pelo PayPal</a>
                  <a href="https://github.com/Alyssonmach" class = "btn-Two" target = "_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script type = "text/javascript" src = "../js/pace.min.js"></script>
	      <script type = "text/javascript" src = "../js/switcher.js"></script>

    </body>
</html> 